@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    color: #fff;
    font-size: 20px;
    background: #ff900e;
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    cursor: grab;
}
.text-gray{
    color: #727272;
}
header{
   background: rgba(255, 144, 14, 0.10);
   padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: black;
}
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner img{
    width: 100%;
    margin-top: 20px;
} 

main{
    max-width: 1440px;
    margin: 60px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.teams-contant{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-contant-title{
    font-size: 2.8rem;
}
.teams-contant-title .quick-list{
color: #727272;
font-weight: 500;
}
.teams-contant-title .off{
    color: #131313;
}
.teams-contant-title .feature-text{
    color: #ff900e;
    font-weight: 700;
}
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
       flex-direction: column;
    }
}
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}